<mat-accordion>
  <div cdkDropList class="example-box" (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel cdkDragLockAxis="x" *ngFor="let data of declarations index as i" cdkDrag>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{data.id}}
        </mat-panel-title>
        <mat-panel-description>
          {{data.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-declaration-create>loading</app-declaration-create>

    </mat-expansion-panel>
  </div>
</mat-accordion>
