table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.createbutton:hover{
  background-color: rgba(126, 63, 242, 0.91);
  color:white;
}

.toDelete{
  display:none;
  color: lightcoral;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

.mat-row:hover .toDelete {
  display:block;
}

.toDelete:hover{
  color: red;
}
