<div class="declaration-container">
  <form name="declarationForm" [formGroup]="createForm"
        (ngSubmit)="createDeclaration(createForm.value); createForm.reset()" class="declaration-container">

    <mat-form-field class="dec-full-width" appearance="outline">
      <mat-label>Declaratie omschrijving</mat-label>
      <input formControlName="description" matInput placeholder="omschrijving"
             id="description" name="description">
      <div *ngIf="!(createForm.controls.description.invalid && createForm.controls.description.errors.lets_be_friends); else elseAction"></div>
    </mat-form-field>

    <mat-form-field class="dec-full-width" appearance="outline">
      <mat-label>Medewerker ID</mat-label>
      <input formControlName="empID" matInput id="emp_id" name="emp_id">
    </mat-form-field>

    <table class="dec-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="dec-full-width" appearance="outline">
            <mat-label>Voornaam</mat-label>
            <input formControlName="fname" matInput id="Voornaam" name="Voornaam">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="dec-full-width" appearance="outline">
            <mat-label>Achternaam</mat-label>
            <input formControlName="lname" matInput id="Achternaam" name="Achternaam">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field class="dec-full-width" appearance="outline">
      <mat-label>Datum</mat-label>
      <input matInput value="{{processDate | date}}" disabled>
    </mat-form-field>

    <mat-form-field class="dec-full-width" appearance="outline">
      <mat-label>Bedrag</mat-label>
      <input formControlName="amount" matInput #euro
             name="amount" placeholder="0,00" type="number">
      <mat-hint align="begin" *ngIf="euro.value < 0">Vul een positief getal in</mat-hint>
    </mat-form-field>

    <mat-form-field class="dec-full-width">
      <mat-label>Medewerker bericht (optioneel)</mat-label>
      <input formControlName="empMessage" matInput id="empMessage"
             name="empMessage" placeholder="Vul hier een bericht in">
      <div *ngIf="!(createForm.controls.empMessage.invalid && createForm.controls.empMessage.errors.lets_be_friends); else elseAction"></div>
    </mat-form-field>

    <table class="dec-full-width" cellspacing="0">
      <tr>
        <td>
          <button mat-raised-button dec-button-row color="warn" (click)="onCancel()">Annuleren</button>
        </td>
        <td>
          <button mat-raised-button dec-button-row [disabled]="!createForm.valid" color="primary">Indienen</button>
        </td>
      </tr>
    </table>

    <ng-template #elseAction>
      <mat-hint align="begin">
        Lets be friends
        <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon>
      </mat-hint>
    </ng-template>

  </form>
</div>
