.declaration-container {
  display: flex;
  flex-direction: column;
}

.declaration-container > * {
  width: 100%;
}

.dec-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.dec-full-width {
  width: 100%;
}

.dec-button-row button,
.dec-button-row a {
  margin-right: 8px;
}

.mat-hint{
  color:red;
}
