<table class="dec-full-width" cellspacing="0">
  <tr>
    <td>
      <h1 mat-dialog-title>Declaratie</h1>
    </td>
    <td align="end">
      <mat-icon class="myClose" (click)="close()" matTooltip="sluit dit scherm">close</mat-icon>
    </td>
  </tr>
</table>

<div class="mat-dialog-content" *ngIf="declaration">

  <mat-form-field class="dec-full-width" appearance="outline">
    <mat-label>Omschrijving</mat-label>
    <input matInput value="{{declaration.description}}" disabled>
  </mat-form-field>

  <table class="dec-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="dec-full-width" appearance="outline">
          <mat-label>Voornaam</mat-label>
          <input matInput value="{{employee.fname}}" disabled>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="dec-full-width" appearance="outline">
          <mat-label>Achternaam</mat-label>
          <input matInput value="{{employee.lname}}" disabled>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="dec-full-width" appearance="outline">
    <mat-label>Datum</mat-label>
    <input matInput value="{{declaration.date | date}}" disabled>
  </mat-form-field>

  <mat-form-field class="dec-full-width" appearance="outline">
    <mat-label>Bedrag</mat-label>
    <input matInput type="number" value="{{declaration.amount}}" disabled>
  </mat-form-field>

  <mat-form-field class="dec-full-width">
    <mat-label>Medewerker bericht</mat-label>
    <input matInput value="{{declaration.empComment}}" disabled>
  </mat-form-field>

  <div *ngIf="declaration.manComment.length > 1">
    <mat-form-field class="dec-full-width">
      <mat-label>Manager bericht</mat-label>
      <input matInput value="{{declaration.manComment}}" disabled>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="declaration.files">
    <ng-container matColumnDef="file">
      <th mat-header-cell *matHeaderCellDef> Bestand </th>
      <td mat-cell *matCellDef="let element">
        <div (click)="openImage(element)">
          {{element.filename}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="download" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="myDownload" (click)="downloadFile()" matTooltip="download bestand">cloud_download</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<table *ngIf="processStatus" class="dec-full-width" cellspacing="0">
  <tr>
    <td>
      <button mat-raised-button dec-button-row class="myDelete" (click)="toDelete()">
        <mat-icon matTooltip="Verwijder">remove_circle_outline</mat-icon>
      </button>
    </td>
    <td>
      <button mat-raised-button dec-button-row class="myEdit" (click)="toEdit()">
        <mat-icon matTooltip="Wijzig">edit</mat-icon>
      </button>
    </td>
  </tr>
</table>
