<!--<div *ngIf="product">-->
  <!--<h2>{{hero.name | uppercase}} Product details</h2>-->
  <!--<div><span>id: </span>{{product.id}}</div>-->
  <!--<div>-->
    <!--<label>Name:-->
      <!--<input [(ngModel)]="product.name" placeholder="name"/>-->
    <!--</label>-->
    <!--<label>Price:-->
      <!--<input [(ngModel)]="product.price" placeholder="name"/>-->
    <!--</label>-->
    <!--<label>Type:-->
      <!--<input [(ngModel)]="product.type" placeholder="name"/>-->
    <!--</label>-->
  <!--</div>-->
<!--</div>-->

<ul class="productList">
  <li *ngFor="let product of productList">
    <a (click)="deleteProduct(product.id)">
      <span class="badge">{{product.id}}</span> {{product.name}}
    </a>
  </li>
</ul>

