<form #declarationForm="ngForm" class="declaration-container">

  <mat-form-field class="dec-full-width" appearance="outline">
    <mat-label>Declaratie omschrijving</mat-label>
    <input [(ngModel)]="declaration.description" matInput placeholder="omschrijving"
           id="description" name="description" required>
  </mat-form-field>

  <mat-form-field class="dec-full-width" appearance="outline">
    <mat-label>Medewerker ID</mat-label>
    <input matInput id="emp_id" name="emp_id" [value]="declaration.emp_id" [disabled]="disableSelect.value">
  </mat-form-field>

  <table class="dec-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="dec-full-width" appearance="outline">
        <mat-label>voornaam</mat-label>
        <input matInput id="voornaam" name="voornaam" [value]="employee.fname" [disabled]="disableSelect.value">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="dec-full-width" appearance="outline">
        <mat-label>achternaam</mat-label>
        <input matInput id="achternaam" name="achternaam" [value]="employee.lname" [disabled]="disableSelect.value">
      </mat-form-field>
    </td>
  </tr></table>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Datum" (focus)="picker.open()"
           [formControl]="serializedDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <table class="dec-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="dec-full-width" appearance="outline">
      <mat-label>€</mat-label>
      <input matInput #euro ng-maxlength="5" [(ngModel)]="bigNum"
             name="bigNum" placeholder="0" type="number" required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="dec-full-width" appearance="outline">
      <input matInput #eurocent ng-maxlength="2" [(ngModel)]="smallNum"
             name="smallNum" placeholder="00" type="number" required>
      </mat-form-field>
    </td>
  </tr></table>

  <mat-form-field class="dec-full-width">
    <mat-label>Medewerker bericht | {{empMessage.value.length}} / 256</mat-label>
    <input matInput #empMessage [(ngModel)]="declaration.emp_comment"
           name="empMessage" maxlength="256" placeholder="Vul hier een bericht in" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <!--<mat-hint align="end">{{empMessage.value.length}} / 256</mat-hint>-->
  </mat-form-field>

  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput #manMessage [(ngModel)]="declaration.man_comment" name="manMessage" maxlength="256" placeholder="manager bericht">-->
    <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
    <!--<mat-hint align="start"><strong>Vul hier een bericht in</strong> </mat-hint>-->
    <!--<mat-hint align="end">{{manMessage.value.length}} / 256</mat-hint>-->
  <!--</mat-form-field>-->

  <button mat-raised-button dec-button-row buttonFormGroup (click)="create(); declarationForm.reset()" color="primary">Indienen</button>
</form>
