<div class="example-container">
  <mat-form-field>
    <mat-label>Declaratie naam</mat-label>
    <input matInput placeholder="invoeren">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Price"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Commentaar</mat-label>
    <input matInput placeholder="invoeren">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <input matInput placeholder="True">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</div>

<img src="https://regmedia.co.uk/2013/03/04/invader.jpg?x=442&y=293&crop=1" alt="Italian Trulli">
